*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden
}

.calculator{
    height: 620px;
    width: 520px;
    padding: 1px 20px;
    border-radius: 20px;
    background-color: #C8B29D;
}

.container1{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.name-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: underline solid rgb(252, 251, 251) 3px;
}

.name-2{
    display: flex;
    align-items: center;
}

.charging{
    width: 200px;
    border-radius: 3px;
    background-color: rgb(10, 10, 10);
    height: 35px;
    margin: 2px;
}

.model{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-top: 10px;
    font-weight: 800;
    color: rgb(247, 245, 243);
}

.container2{
    height: 110px;
    border-radius:5px;
    background-color: rgb(184, 184, 184);
    border: 2px solid #a1876e;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}


.btn{
    width: 90px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid #8d6e52;
    background-color: #a08c7b;
    box-shadow: 0 0 5px #806852;
    margin: 0 3px;
}

.number{
    font-size: 38px;
    color: gray;
    border-radius: 8px;
    background-color: white;
}
.onac{
    font-size: 25px;
}

.firstline{
    border-radius: 50px;
}

.equals{
    width: 187px;
    border-radius: 50px;
}

.point{
    font-size: 100px;
    color: rgb(0, 0, 0);
    padding-bottom: 50px;
}

.line{
    display: flex;
}


@media (max-width: 520px) {
    .calculator{
        width: 360px;
        height: 550px;
    }
    
    .container3{
        padding-top: 20px;
    }
    .container2{
        padding-top: 20px;
    }
    
    .btn{
        width: 58px;
        height: 40px;
    }

    .charging{
        width: 130px;
    }
    
    .onac{
        font-size: 15px;
    }
    
    .cec{
        
        font-size: 17px;
    }
    .equals{
        width: 124px;
        border-radius: 50px;
    }
    
    .number{
        padding-top:3px;
    }
    .point{
        font-size: 60px;
        padding-bottom: 30px;
    }
}